.pagination{

display:flex;

justify-content:center;

align-items:center;

gap:10px;

margin:50px 0;

flex-wrap:wrap;

}

.pageBtn{

padding:12px 20px;

background:#ED1C24;

color:#fff;

border:none;

border-radius:8px;

cursor:pointer;

font-weight:600;

transition:.3s;

}

.pageBtn:hover{

opacity:.9;

}

.pageBtn:disabled{

opacity:.45;

cursor:not-allowed;

}

.pageNumber{

width:42px;

height:42px;

background:#fff;

border:1px solid #ddd;

border-radius:8px;

cursor:pointer;

font-weight:600;

transition:.3s;

}

.pageNumber:hover{

background:#ED1C24;

color:#fff;

border-color:#ED1C24;

}

.pageNumber.active{

background:#ED1C24;

color:#fff;

border-color:#ED1C24;

}

.dots{

font-size:22px;

font-weight:bold;

padding:0 6px;

}